@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 6%">
    <div class="col-md-6">
        <h4 class="display-4 font-weight-bold">Easy School <br />Web Solution</h4>
        <p class="lead">Make Your Work Dynamic & Easier</p>
    </div>
    <div class="col-md-6">
        <img class="img-fluid" style="width: 75%" src="~/images/home_bg.jpg" />
    </div>
</div>